
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 text-center">
		</div>

		<div class="col-xs-4 text-center">
			<div class="contact">
				<%= form_for [@book] do |book|%>
				</br>
				<p> <%= book.label :title %>
    				<%= book.text_field :title %></p>
				<p> <%= book.label :author %>
						<%= book.text_field :author %></p>
				<p> <%= book.label :publishing_date %>
	  				<%= book.date_field :publishing_date%></p>
				<p>	<%= book.submit 'Submit', class:'btn btn-default'%>
						<button class="btn btn-default" type="submit"><%= link_to "Cancel", root_url %></button>
				<%end%>
				</p>

			</div>
		</div>

		<div class="col-xs-4 text-center">
		</div>

	</div>
 </div>
