<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 text-center">
    </div>

    <div class="col-xs-6 text-center">
      <div class="element">
        <h2><strong><%= @book.title%><strong></h2>
          <h3>Written by: <%= @book.author%></h3>
          <h4>published: <%= @book.publishing_date%></h4>

            <% if @book.active?%>
              <%= link_to 'Edit', edit_book_path %>
              <%= link_to 'Deactive', deactive_book_path(@book), method: :post, data: { confirm: 'Are you sure?' }%>
                <% if @book.to_borrow?%>
                  <%= link_to 'Borrow', borrow_book_path(@book), method: :post%>
                <%end%>

                <% if @book.to_return?%>
                  <%= link_to 'Return', return_book_path(@book), method: :post%>
                <%end%>
            <%else%>
                <p>Book is inactive</p>
            <%end%>
      </div>
    </div>

    <div class="col-xs-3 text-center">
    </div>
  </div>
</div>
