<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 text-center">
    </div>

    <div class="col-xs-8 text-center">
      <h2>All Loans:</h2>
        <% @loans.each do |loan| %>
            <div class="element">
            <h4><% if loan.book.nil?%>
              <%= "Deleted book" %>
            <%else%>
              <%= loan.book.title %>
            <%end%>

            <% if loan.status==1%>
              <%= "was borrowed by "%>
            <% else %>
              <%= "was returned by "%>
            <%end%>

            <% if loan.user.nil?%>
              <%= "deleted user" %>
            <%else%>
              <%= loan.user.email %>
            <%end%>

            <%= "at #{loan.created_at}"%>
</h4>
          </div>

        <%end%>

    <div class="col-xs-2 text-center">
    </div>

  </div>
</div>
